.about-page {
  padding: 40px 20px;
  text-align: center;
  color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-family: var(--primary-font);
  background-image: url('../assets/paper.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-decor {
  margin: 20px 0;
}

.decor-image {
  width: 150px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.decor-image:hover {
  transform: rotate(15deg) scale(1.05);
}

.about-title {
  font-size: 2.5rem;
  margin: 20px 0;
  color: var(--yellow-color);
  transition: font-size 0.3s ease;
}

.about-paragraph {
  font-size: 1rem;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  padding: 30px 20px;
  text-align: justify;
  transition: font-size 0.3s ease;
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .about-title {
    font-size: 1.5rem;
  }

  .about-paragraph {
    font-size: 1.1rem;
    max-width: 90%;
    padding: 20px 15px;
  }

  .decor-image {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .about-title {
    font-size: 1.5rem;
  }

  .about-paragraph {
    font-size: 1rem;
    max-width: 95%;
    padding: 15px 10px;
  }

  .decor-image {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 1.5rem;
  }

  .about-paragraph {
    font-size: 1rem;
    max-width: 100%;
    padding: 10px 8px;
  }

  .decor-image {
    width: 80px;
  }
}
