.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: 'P22 Stanyan Bold';
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  margin-right: auto;
}

.navbar-logo img {
  width: 120px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo a {
  display: inline-block;
}

.navbar-logo a:hover img {
  transform: rotate(20deg);
}

.navbar-action {
  display: flex;
  justify-content: flex-end;
}

.navbar-action .signup-btn {
  background-color: var(--yellow-color);
  color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
}

.navbar-action .signup-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .navbar-logo img {
    width: 100px;
  }

  .navbar-action .signup-btn {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .navbar-logo img {
    width: 140px;
  }

  .navbar-action .signup-btn {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 1.5rem 3rem;
  }

  .navbar-logo img {
    width: 160px;
  }

  .navbar-action .signup-btn {
    font-size: 1.1rem;
    padding: 1rem 2rem;
  }
}
